.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: default;
}

.modal-content {
  margin: 20% auto;
  width: 500px;
  height: auto;
  opacity: 1;
  background-color: #f4f4f4;
  animation: modal_open 1s;
  display: flex;
  flex-direction: column;
}

.modal-header {
  background-color: #eee;
  margin: 0;
}

.modal-header p {
  font-size: 1.7em;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

.modal-tool {
  display: flex;
}

.modal-body {
  padding: 20px;
  height: auto;
}

button {
  font-weight: bold !important;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

button.modal-close {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  float: right;
  width: 10px;
  height: 20px;
  background-color: transparent;
  padding: .9em;
  margin: 1em;
  font-size: 30px;
}

@keyframes modal_open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}