:root {
	--border-radius: 15px;
	--bgcolor: #eee;
}

.user-preview,
.user-update {
	background-color: var(--bgcolor) !important;
	border-radius: var(--border-radius) !important;
	margin: .7em;
	padding: 1em;
}

.user {
	border-bottom: 1px solid #fff;
	padding-bottom: .5em;
}

.user-preview-image {
	display: flex;
	justify-content: center;
	border-radius: 100%;
}

.user-preview-image img {
	border-radius: inherit;
}

.extra-details {
	padding: 1em;
}

.extra-details label {
	padding: 0;
	font-weight: bold;
}

.form-header,
.user-fullname {
	color: rgba(10, 15, 200, 0.6);
}

button.p-button {
	padding: .5em;
}

button[type="submit"],
button.p-button {
	background-color: rgb(250, 135, 9) !important;
}

button[type="submit"]:hover,
button.p-button:hover {
	background-color: rgba(190, 210, 10, .8) !important;
}

.form-label,
.form-header {
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;
}

.user-fullname {
	display: flex;
	justify-content: center;
	padding: .5em;
	font-weight: bold;
	font-size: 1.4em;
}

.user-email {
	font-weight: bold;
}

.text-left {
	padding: 1em;
}

input,
textarea {
	font-family: inherit;
}

textarea {
	overflow: auto;
	max-width: 600px;
	max-height: 100px;
}

input {
	width: 85% !important;
	padding: 1em;
	margin: .3em;
	width: inherit;
}

input[type="file"] {
	width: 50px;
	flex: .5;
}