* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

tr {
  height: 30px;
}

td {
  height: inherit;
}

th,
td {
  padding: 10px;
  text-align: left;
}

td > img {
  width: 30px;
  height: inherit;
  border-radius: 100%;
  padding: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

thead > tr {
  background-color: #ccc;
  padding: 1em;
  font-weight: bold;
}

tbody > tr {
  background-color: #fff;
  color: #333;
  border-bottom: 3px solid #eee;
}

tbody > tr:last-child {
  border: none;
}
